<% include ../partials/header %>
<div class="container-fluid" style="height:550px;">
  <div class="row">
    <div class="col-sm-12">
      <h2  style="background-color:#673AB7; text-align:center">This is index page</h2>
    </div>
  </div>
  <div class="row" id="main-contains">
    <div class="col-sm-4">
      <p>This is our mission.This is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our mission</p>
    </div>
    <div class="col-sm-4">
      <p>This is our mission.This is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our mission</p>
    </div>
    <div class="col-sm-4">
      <p>This is our mission.This is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our missionThis is our mission</p>
    </div>
  </div>
</div>



<% include ../partials/footer %>
